*{
    font-family: 'Oswald', sans-serif;
}

.navbar{
    background-color: #ffffff;
}

.navbar-brand{
    color: black;
    font-size: 80px;
}

p{
    color: gray;
}

.img-responsive{
    width: 600px;
    height: 500px;
}

#intro{
    padding-top: 5rem;
}

.btn{
    background-color: pink;
    color:white
}

.btn:hover{
    background-color: pink;
    color: white;
}

.btn-outline{
    background-color: white;
    color: pink;
    border-color: pink;
}

.img-responsive{
    width: 500px;
    height: 400px;
}

#intro{
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.pengalaman{
    padding-bottom: 5rem;


}

.img{
    width: 500px;
}

.kotak{
    width: 45px;
    height: 7px;
    background-color: pink;
    margin-left: auto;
    margin-right: auto;
}

.card{
    width: 250px;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}